@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Page Transitions */
::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 4s;
}

/* I set the background color here because why not */
body {
    padding: 0px;
    background-color: #eaeaea;
}